footer.footer
  .container
    .footer-info
      .footer-socials
        a(href="#" title='facebook')
          i.fa-brands.fa-facebook-f
        a(href="#" title='instagram')
          i.fa-brands.fa-instagram
        a(href="#" title='pinterest')
          i.fa-brands.fa-pinterest-p
      .footer-copyright
        p 
          | ©
          a(href="/" title="We Art")
            | We Art.
          | Все права защищены.
      .footer-dev
        a(href="https://web-systems.solutions/en/" title="Web-Systems.Solutions" target="_blank")
          img(src="./static/img/svg/dev-logo.svg" alt='Web-Systems.Solutions' title="Web-Systems.Solutions" width="18" height="18")