- var projects = ['Котедж Первый парковый', 'Квартира ЖК Риверстоун', 'Дом Грузевица-3', 'Дом по улице Летняя', 'Магазин Аристократ', 'Магазин SEW TECH', 'Апартаменты', 'Бутик Mix', 'Загородный дом']

.hero-wrap
  .hero
    button(name='play' type='button').play
      i.fa-solid.fa-play
      i.fa-solid.fa-pause
    video(autoplay='' loop='' muted='' src='./static/video/homepage-hero-video-sm.mp4').video
    //- picture
    //-   source(srcset='./static/img/content/about-company.webp' type='image/webp')
    //-   img(src='./static/img/content/about-company.jpg' alt='About Company' title='About Company' width='462' height='734')


.projects
  .container
    h2 Новые проекты
    .row.justify-content-center
      - for (var i=0; i<9; i++)
        .col-lg-4.col-sm-6.mt-5
          a(href="#" title=projects[i]).projects-item
            picture 
              source(srcset='./static/img/content/project'+i+'.webp' type='image/webp')
              img(src='<./static/img/content/project'+i+'.jpg' alt=projects[i] title=projects[i] width='360' height='288')
            p= projects[i]

.information-wrap 
  .container
    .row.justify-content-center
      .col-lg-8
       .information
          h2 Заказать дизайн интерьера в Хмельницком для своего дома!
          p Дом для каждого из нас – это место, где мы чувствуем уют и покой, обретаем душевное равновесие, куда мы все спешим после тяжелого рабочего дня, и где хотим спрятаться от городской суматохи. И, конечно, у каждого есть дом мечты, который, наверное, был придуман и визуализирован еще в детстве или же, наоборот, есть мечта, но нет четкого представления как он будет выглядеть. Команда We-ART с радостью поможет Вам выполнить абсолютно любой дизайн интерьера Хмельницкий. 
          p За время работы команда дизайн студии интерьера в Хмельницком We-ART накопила достаточно знаний и навыков, чтобы удовлетворить вкусы любого клиента, а также выполнила десятки проектов, в том числе и для представителей своей сферы. Каждый клиент уникален, и каждый ставит свои приоритеты – для кого-то это время, для кого-то цена. Для команды We-ART в приоритете же качество выполнения задач и пожелания клиента, поэтому про нашу компанию за все время работы отзывались только с хорошей стороны.
          a(href="#" title="Читать больше") Читать больше
