head
  meta(charset="utf-8")
  title #{title}
  <!--[if IE]>
  meta(http-equiv='X-UA-Compatible', content="IE = edge")
  <![endif]-->
  meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
  meta(name="keywords" content="")
  meta(name='it-rating', content='it-rat-fa9ef9f8c2095cc94c5d33de60ee9bb3')
  // Favicon
  link(rel='apple-touch-icon' sizes='180x180' href='static/favicon/apple-touch-icon.png')
  link(rel='icon' type='image/png' sizes='32x32' href='static/favicon/favicon-32x32.png')
  link(rel='icon' type='image/png' sizes='16x16' href='static/favicon/favicon-16x16.png')
  //FontAwesome
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/fontawesome.min.css' integrity='sha512-giQeaPns4lQTBMRpOOHsYnGw1tGVzbAIHUyHRgn7+6FmiEgGGjaG0T2LZJmAPMzRCl+Cug0ItQ2xDZpTmEc+CQ==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/brands.css' integrity='sha512-g9hNU97Dxb6qJZumYbKXC10tDP8J2rQdRxQoqona1LU0k0L8Hki+mOMHLbljf2TxSjgGl8f/PzUyGN3/XvA14w==' crossorigin='anonymous' referrerpolicy='no-referrer')
  link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css' integrity='sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==' crossorigin='anonymous' referrerpolicy='no-referrer')
  // CSS
  link(rel="stylesheet" type='text/css' href="static/css/libs.min.css")
  link(rel="stylesheet" type='text/css' href="static/css/main.min.css")
  // IE Support
  <!--[if lt IE 9]>
  script(src="http://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js")
  <![endif]-->